@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400&family=Oswald:wght@300&display=swap');

body {
	font-family: 'Noto Sans JP', sans-serif;
	padding: 0 2%;
	margin: 0;
}

nav {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: white;
	position: sticky;
    top: 0;
}
nav .profile {
	display: flex;
	align-items: center;
}
nav .profile img {
	width: 70px;
	height: 70px;
	border-radius: 50%;
}
nav .profile h1 {
	margin-left: 10px;
	font-size: 20px;
}
nav ul {
	display: flex;
	list-style-type: none;
}
nav ul li {
	margin-left: 20px;
    padding-left: 5px;
    padding-right: 5px;
	cursor: pointer;
}
nav ul .CV:hover {
	background-color: white;
    color: black;
	text-decoration: underline;
}

.CV
{
    border-radius: 10px 10px 10px 10px;
    background-color: black;
    color: white;
	text-decoration: none;
}

.page-content {
	margin: 4%;
}
.page-content header {
	margin-top: 5%;
	max-width: 80%;
}
.page-content header h1 {
	margin: 0;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 50px;
}
.page-content header p {
	line-height: 30px;
	color: #818181;
}

.page-content .presentation-image {
	margin-top: 5%;
}
.page-content .presentation-image img {
	max-width: 100%;
	height: auto;
}

.page-content .big-section {
	margin-top: 6%;
}
.page-content .big-section h1 {
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	font-size: 3vw;
}
.page-content .big-section .projects {
	display: flex;
	flex-wrap: wrap;
}
.page-content .big-section .project {
	margin-right: 20px;
	max-width: 195px;
}
.page-content .big-section .project h4 {
	margin: 0;
}
.page-content .big-section .project .description {
	font-size: 13px;
}
.page-content .big-section .project .dates {
	font-size: 13px;
	color: rgb(145, 145, 145);
}

footer {
	margin-top: 5%;
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	padding-left: 50px;
	background-color: #000;
	color: white;
}
footer .colonne p {
	font-size: 12px;
	color: #ccc;
	cursor: pointer;
}
footer .colonne p:hover {
	color: #fff;
}
.linkedin
{
    color: #ccc;
    text-decoration: none;
}
.linkedin:hover
{
    color: white;
}
.barre
{
    text-decoration: line-through
}

.apprentissage
{
    color: #818181;
}
.gitlink
{
	text-decoration: none;
	color: black;
}
.gitlink:hover
{
	color: gray;

}
/*responsive*/
@media screen and (max-width: 700px) {
	nav {
		justify-content: center;
	}
	nav ul {
		display: none;
	}

	.page-content header {
		margin-top: 10%;
		max-width: 100%;
	}
	.page-content .big-section .profil-section {
		margin-top: 15%;
	}
	.page-content .big-section .profil-section h1 {
		font-size: 1.5em;
	}
	.page-content  .project {
		margin-right: 0;
		margin-bottom: 20px;
		max-width: 100%;
	}
	.page-content .big-section .project .description .profil-section {
		font-size: 13px;
	}

	footer {
		justify-content: flex-start;
	}
	footer .column {
		width: 80%;
	}
    .linkedin
    {
    color: #ccc;
    text-decoration: none;
    }
    .linkedin:hover
    {
    color: white;
    }
}